.box{
    border: 1px black solid;
    display: grid;
    text-align: center;
}
.box:first-child{
    background-color: blue;
}
.box:nth-child(2){
    background-color: red;
}
.box:nth-child(3){
    background-color: yellow;
}
.box:nth-child(3):hover{
    background-color: blueviolet;
    transition: all 3s ease-in-out;
}
.animation{
    animation-name: posun;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes posun {
   0%{
       transform: rotate(0deg);
   }
   50%{
       transform: rotate(360deg);
   }
   100%{
    transform: rotate(0deg);
   }
}